body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #0A121E;
}

.section-inner {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.section-inner-wide {
  max-width: 1365px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
}
.btn-gray {
  padding: 8px 24px;
  background-color: rgba(10, 18, 30, 0.7);
}
.btn-gray:hover {
  transition: 1s;
  background-color: rgba(10, 18, 30, 0.8);
}
.btn-blue {
  font-family: "Inter", sans-serif;
  padding: 16px 100px 16px 24px;
  background-color: #0e50b3;
}
.btn-blue:hover {
  background-color: #1465df;
  transition: 1s;
}
.btn-white {
  font-family: "Inter", sans-serif;
  color: #0A121E;
  border: 1px solid rgba(10, 18, 30, 0.2);
  padding: 16px 108px 16px 24px;
}

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation__inner-wrap {
  margin-left: auto;
}
.main-navigation__inner-wrap .nav-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.main-navigation__inner-wrap .nav-wrapper__item {
  margin-right: 32px;
}
.main-navigation__inner-wrap .nav-wrapper__item-link {
  text-decoration: none;
  color: #455A74;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 24px;
}

.section-header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f2f8fd;
  z-index: 10;
}

.section-frame-one {
  background: url(/img/frame-one/fon.png) no-repeat center center;
  background-color: #E7F1FB;
}
.section-frame-one .section-inner {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-frame-one .section-inner .section-frame-one__wrapper {
  display: flex;
  justify-content: space-between;
}
.section-frame-one .section-inner .section-frame-one__wrapper .social {
  cursor: pointer;
}
.section-frame-one .section-inner .section-frame-one__wrapper .social-menu_list {
  display: flex;
  flex-direction: column;
}
.section-frame-one .section-inner .section-frame-one__wrapper .social-menu_list-link {
  margin-top: 28px;
  margin-bottom: 32px;
}
.section-frame-one .section-inner .section-frame-one__wrapper-left {
  margin-left: -100px;
  margin-top: 10px;
}
.section-frame-one .section-inner .section-frame-one__wrapper-left h2 {
  text-indent: 12px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 12px;
}
.section-frame-one .section-inner .section-frame-one__wrapper-left .text-big {
  width: 524px;
  font-size: 65px;
  margin-bottom: 40px;
}
.section-frame-one .section-inner .section-frame-one__wrapper-left .text-littele {
  font-family: "Inter", sans-serif;
  width: 521px;
  margin-bottom: 36px;
  font-size: 20px;
  color: #455A74;
  line-height: 2;
}
.section-frame-one .section-inner .section-frame-one__wrapper-left .btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-frame-one .section-inner .section-frame-one__wrapper-left .btn-group a {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.section-frame-one .section-inner .section-frame-one__wrapper-right {
  margin-right: 100px;
}

.section-frame-two .section-inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-frame-two .section-inner .section-frame-two__wrapper {
  display: flex;
}
.section-frame-two .section-inner .section-frame-two__wrapper-left {
  flex-basis: 49%;
}
.section-frame-two .section-inner .section-frame-two__wrapper-left h2 {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 24px;
  text-indent: 8px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-left .text-title {
  width: 528px;
  font-size: 58px;
  padding-bottom: 44px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-left .text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 2;
  color: #455A74;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .group-blue span {
  padding: 4px;
  border-radius: 4px;
  color: white;
  background-color: #115cce;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .group-blue-2 span {
  position: relative;
  top: 48px;
  margin-left: 24px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  background-color: #115cce;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .group-blue-3 {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-left: 29%;
  padding: 4px;
  border-radius: 4px;
  color: white;
  background-color: #115cce;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__one {
  height: 60px;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #115cce;
  border-radius: 8px;
  background-color: #E7F1FB;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__one--block {
  display: inline-block;
  margin-top: 12px;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__two {
  padding: 12px;
  margin-top: 60px;
  margin-left: 24px;
  border: 1px solid #040F1F;
  border-radius: 8px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__two .text-two {
  display: inline-block;
  padding: 8px;
  color: #0A121E;
  background-color: #E7F1FB;
  border-radius: 8px;
  margin-bottom: 4px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__two .text-number {
  color: #115cce;
  margin-bottom: 4px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__two .text-ip {
  display: inline-block;
  padding: 8px;
  color: #0A121E;
  background-color: #E7F1FB;
  border-radius: 8px;
  margin-bottom: 4px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__two .text-adress {
  color: #115cce;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free {
  width: 400px;
  height: auto;
  padding: 12px;
  margin-top: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid #040F1F;
  border-radius: 8px;
  justify-self: center;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free--1 {
  display: inline-block;
  padding: 8px;
  color: #0A121E;
  background-color: #E7F1FB;
  border-radius: 8px;
  margin-bottom: 4px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free--2 {
  margin-bottom: 12px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free--3 {
  margin-bottom: 8px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free--4 {
  margin-bottom: 8px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free--5 {
  margin-bottom: 8px;
}
.section-frame-two .section-inner .section-frame-two__wrapper-right .parant-block .child-blok__free .button-color {
  display: inline-block;
  padding: 8px 24px 8px 8px;
  color: #0A121E;
  background-color: #E7F1FB;
  border-radius: 4px;
}

.section-frame-free {
  background: url(/img/frame-free/line.png) no-repeat 20% -7%;
}
.section-frame-free .section-inner {
  padding-bottom: 80px;
}

.section-frame-free__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-frame-free__group h2 {
  font-size: 15px;
  color: #0A121E;
  text-align: center;
  font-weight: 400;
  margin-bottom: 32px;
}
.section-frame-free__group .text-subtitle {
  font-size: 58px;
  margin-bottom: 40px;
  text-align: center;
}
.section-frame-free__group .wrapper-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.section-frame-free__group .wrapper-list__item {
  width: 390px;
  background-color: #E7F1FB;
}
.section-frame-free__group .wrapper-list__item::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  background-color: white;
}
.section-frame-free__group .wrapper-list__item img {
  margin-top: 48px;
  margin-bottom: 36px;
  margin-left: 35%;
}
.section-frame-free__group .wrapper-list__item .text-title {
  text-align: center;
  font-size: 28px;
  color: #0A121E;
  margin-bottom: 20px;
}
.section-frame-free__group .wrapper-list__item .text {
  font-size: 20px;
  text-align: center;
  color: #455A74;
  line-height: 1.5;
  padding: 0 40px 56px 40px;
}/*# sourceMappingURL=style.css.map */