@mixin inter {
    font-family: 'Inter', sans-serif;
}

@mixin list-none {
    padding: 0;
    margin: 0;
    list-style: none;
}
// === VARIABLES ===
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: 4px;

$fs-s: 15px;
$fs-m: 20px;
$fs-l: 28px;
$fs-xl: 32px;
$fs-xxl: 58px;
$fs-xxs: 65px;

$color-black: #040F1F;
$color-bl-white: #0A121E;
$color-white: #fff;
$color-bl-blue: #455A74;

// === VARIABLES ===

// === COMON ===
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $fs-s;
    color: $color-bl-white;
}

.section-inner {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;

    &-wide {
        max-width: 1365px;
        width: 100%;
        padding-top: $base * 2;
        padding-bottom: $base * 2;
    }
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: $base;
    text-transform: uppercase;
    border: none;

    &-gray {
        padding: $base*2 $base*6;
        background-color: rgba(10, 18, 30, 0.7);
    }
    &-gray:hover {
        transition: 1s;
        background-color: rgba(10, 18, 30, 0.8);
    }

    &-blue {
        @include inter();

        padding: $base*4 $base*25 $base*4 $base*6;
        background-color: rgb(14, 80, 179);
    }
    &-blue:hover {
        background-color: #1465df;
        transition: 1s;
    }

    &-white {
        @include inter();

        color: $color-bl-white;
        border: 1px solid rgba(10, 18, 30, 0.2);
        padding: $base*4 $base*27 $base*4 $base*6;
    }
}
// === / COMON ===

// === HEADER ===
.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        margin-left: auto;

        .nav-wrapper {
            @include list-none();
            display: flex;

            &__item {
                margin-right: $base * 8;

                &-link {
                    text-decoration: none;
                    color: $color-bl-blue;
                    font-size: $fs-s;
                    text-transform: uppercase;
                    letter-spacing: 0.6px;
                    line-height: $base * 6;
                }
            }
        }
    }
}

.section-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f8fd;
    z-index: 10;
}
// === / HEADER ===

// === FRAME-ONE ===
.section-frame-one {
    background: url(/img/frame-one/fon.png) no-repeat center center;
    background-color: #E7F1FB;
    
    .section-inner {
        padding-top: $base * 10;
        padding-bottom: $base * 10;

        .section-frame-one__wrapper {
            display: flex;
            justify-content: space-between;

            .social {
                cursor: pointer;
    
                &-menu {
    
                    &_list {
                        display: flex;
                        flex-direction: column;
    
                        &-link {
                            margin-top: $base * 7;
                            margin-bottom: $base * 8;
                        }
                    }
                }
            }

            &-left {
                margin-left: -100px;
                margin-top: 10px;

                h2 {
                    text-indent: $base * 3;
                    font-size: $fs-s;
                    font-weight: 400;
                    margin-bottom: $base * 3;
                }
    
                .text-big {
                    width: 524px;
                    font-size: $fs-xxs;
                    margin-bottom: $base * 10;
                }
    
                .text-littele {
                    @include inter();

                    width: 521px;
                    margin-bottom: $base * 9;
                    font-size: $fs-m;
                    color: $color-bl-blue;
                    line-height: 2;
                }

                .btn-group {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                        display: flex;
                        align-items: center;
                        margin-right: $base * 6;
                    }
                }
            }

            &-right {
                margin-right: 100px;
            }
        }
    }
}
// === / FRAME-ONE ===

// === / FRAME-TWO ===
.section-frame-two {
    .section-inner {
        padding-top: $base * 20;
        padding-bottom: $base * 20;
        .section-frame-two__wrapper {
            display: flex;

            &-left {
                flex-basis: 49%;

                h2 {
                    font-size: $fs-s;
                    font-weight: 400;
                    padding-bottom: $base * 6;
                    text-indent: $base * 2;
                }

                .text-title {
                    width: 528px;
                    font-size: $fs-xxl;
                    padding-bottom: $base * 11;
                }

                .text {
                    @include inter();

                    font-size: $fs-m;
                    line-height: 2;
                    color: $color-bl-blue;
                }
            }

            &-right {
                .parant-block {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 600px;

                    .group-blue {
                        span {
                            padding: $base;
                            border-radius: $base;
                            color: white;
                            background-color: #115cce;
                        }
                    }

                    .group-blue-2 {
                        span {
                            position: relative;
                            top: $base * 12;
                            margin-left: $base * 6;
                            padding: $base;
                            border-radius: $base;
                            color: white;
                            background-color: #115cce;
                        }
                    }

                    .group-blue-3 {
                        position: relative;
                        width: 100%;
                        margin-top: $base * 10;
                        margin-left: 29%;
                        padding: $base;
                        border-radius: $base;
                        color: white;
                        background-color: #115cce;
                    }

                    .child-blok__one {
                        height: 60px;
                        padding: $base * 3;
                        margin-top: $base * 3;
                        border: 1px solid #115cce;
                        border-radius: $base * 2;
                        background-color: #E7F1FB;

                        &--block {
                            display: inline-block;
                            margin-top: $base * 3;
                            padding: $base * 2;
                            background-color: white;
                            border-radius: $base * 2;
                        }
                    }
                    
                    .child-blok__two {
                        padding: $base * 3;
                        margin-top: $base * 15;
                        margin-left: $base * 6;
                        border: 1px solid #040F1F;
                        border-radius: $base * 2;

                        .text-two {
                            display: inline-block;
                            padding: $base * 2;
                            color: $color-bl-white;
                            background-color: #E7F1FB;
                            border-radius: $base * 2;
                            margin-bottom: $base;
                        }

                        .text-number {
                            color: #115cce;
                            margin-bottom: $base;
                        }

                        .text-ip {
                            display: inline-block;
                            padding: $base * 2;
                            color: $color-bl-white;
                            background-color: #E7F1FB;
                            border-radius: $base * 2;
                            margin-bottom: $base;
                        }

                        .text-adress {
                            color: #115cce;
                        }
                    }

                    .child-blok__free {
                        width: 400px;
                        height: auto;
                        padding: $base * 3;
                        margin-top: $base * 2;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        border: 1px solid #040F1F;
                        border-radius: $base * 2;
                        justify-self: center;

                        &--1 {
                            display: inline-block;
                            padding: $base * 2;
                            color: $color-bl-white;
                            background-color: #E7F1FB;
                            border-radius: $base * 2;
                            margin-bottom: $base;
                        }

                        &--2 {
                            margin-bottom: $base * 3;
                        }

                        &--3 {
                            margin-bottom: $base * 2;
                        }

                        &--4 {
                            margin-bottom: $base * 2;
                        }

                        &--5 {
                            margin-bottom: $base * 2;
                        }

                        .button-color {
                            display: inline-block;
                            padding: $base*2 $base*6 $base*2 $base*2;
                            color: $color-bl-white;
                            background-color: #E7F1FB;
                            border-radius: $base;
                        }
                    }
                }
            }
        }
    }
}
// === / FRAME-TWO ===

// === FRAME-FREE ===
.section-frame-free {
    background: url(/img/frame-free/line.png) no-repeat 20% -7%;
    .section-inner {
        padding-bottom: $base * 20;
    }
}

.section-frame-free__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: $fs-s;
        color: $color-bl-white;
        text-align: center;
        font-weight: 400;
        margin-bottom: $base * 8;
    }

    .text-subtitle {
        font-size: $fs-xxl;
        margin-bottom: $base * 10;
        text-align: center;
    }

    .wrapper-list {
        @include list-none();
        display: flex;
        justify-content: space-between;

        &__item {
            width: 390px;
            background-color: #E7F1FB;

            &::before {
                position: absolute;
                content: '';
                width: $base * 7;
                height: $base * 7;
                background-color: white;
            }

            img {
                margin-top: $base * 12;
                margin-bottom: $base * 9;
                margin-left: 35%;
            }

            .text-title {
                text-align: center;
                font-size: $fs-l;
                color: $color-bl-white;
                margin-bottom: $base * 5;
            }

            .text {
                font-size: $fs-m;
                text-align: center;
                color: $color-bl-blue;
                line-height: 1.5;
                padding: 0 $base*10 $base*14 $base*10;
            }
        }
    }
}
// === / FRAME-FREE ===

// === FRAME-FOUR ===
.section-frame-four {
    .section-inner {
        padding-top: $base * 10;
        padding-bottom: $base * 10;
    }
}

.frame-four {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &__right {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        h2 {
            text-indent: $base * 10;
            font-weight: 400;
            font-size: $fs-s;
            text-transform: uppercase;
            margin-bottom: $base * 4;
        }

        .text-title {
            width: 540px;
            font-size: $fs-xxl;
            margin-bottom: $base * 8;
        }

        .text {
            font-size: $fs-m;
            color: $color-bl-blue;
            line-height: 1.5;
            margin-bottom: $base * 5;
        }
    }
}
// === / FRAME-FOUR ===

// === FRAME-FIVE ===
.section-frame-five {
    .section-inner {
        padding-top: $base * 20;
        padding-bottom: $base *20;
    }
}

.frame-five {
    display: flex;
    justify-content: space-between;

    &__left {
        flex-basis: 44%;

        h2 {
            text-indent: $base * 10;
            font-weight: 400;
            font-size: $fs-s;
        }

        .text-title {
            font-size: $fs-xxl;
            margin-bottom: $base * 5;
        }

        .text {
            font-size: $fs-m;
            color: $color-bl-blue;
            line-height: 1.5;
            margin-bottom: $base * 5;
        }

        .list {
            @include list-none();

            &-item {
                font-size: $fs-m;
                padding: $base * 2;
            }
        }
    }

    &__right {
        img {
            margin-right: $base * 18;
        }
    }
}
// === / FRAME-FIVE ===

// === FRAME-SIX ===
.section-frame-six {
    .section-inner {
        padding-top: $base * 20;
        padding-bottom: $base * 20;
    }
}

.frame-six {
    display: flex;

    &__left {
        flex-basis: 55%;
        margin-top: $base * 12;
        margin-left: $base * 18;
    }

    &__right {
        flex-basis: 45%;

        h2 {
            text-indent: $base * 8;
            font-weight: 400;
            font-size: $fs-s;
        }

        .text-title {
            font-size: $fs-xxl;
            margin-bottom: $base * 5;
        }

        .text {
            font-size: $fs-m;
            color: $color-bl-blue;
            line-height: 1.5;
            margin-bottom: $base * 5;
        }

        .list {
            @include list-none();

            &-item {
                font-size: $fs-m;
                padding: $base * 2;
            }
        }
    }
}
// === / FRAME-SIX ===





