@mixin inter {
    font-family: 'Inter', sans-serif;
}

@mixin list-none {
    padding: 0;
    margin: 0;
    list-style: none;
}
// === VARIABLES ===
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: 4px;

$fs-s: 15px;
$fs-m: 20px;
$fs-l: 28px;
$fs-xl: 32px;
$fs-xxl: 58px;
$fs-xxs: 65px;

$color-black: #040F1F;
$color-bl-white: #0A121E;
$color-white: #fff;
$color-bl-blue: #455A74;

// === VARIABLES ===

// === COMON ===
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $fs-s;
    color: $color-bl-white;
}

.section-inner {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;

    &-wide {
        max-width: 1365px;
        width: 100%;
        padding-top: $base * 2;
        padding-bottom: $base * 2;
    }
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: $base;
    text-transform: uppercase;
    border: none;

    &-gray {
        padding: $base*2 $base*6;
        background-color: rgba(10, 18, 30, 0.7);
    }
    &-gray:hover {
        transition: 1s;
        background-color: rgba(10, 18, 30, 0.8);
    }

    &-blue {
        padding: $base*4 $base*25 $base*4 $base*6;
        background-color: #1673FF;
    }
    &-blue:hover {
        background-color: #1465df;
        transition: 1s;
    }

    &-white {
        color: $color-bl-white;
        border: 1px solid rgba(10, 18, 30, 0.2);
        padding: $base*4 $base*27 $base*4 $base*6;
    }
}
// === / COMON ===

// === HEADER ===
.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        margin-left: auto;

        .nav-wrapper {
            @include list-none();
            display: flex;

            &__item {
                margin-right: $base * 8;

                &-link {
                    text-decoration: none;
                    color: $color-bl-blue;
                    font-size: $fs-s;
                    text-transform: uppercase;
                    letter-spacing: 0.6px;
                    line-height: $base * 6;
                }
            }
        }
    }
}

.section-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f8fd;
    z-index: 10;
}
// === / HEADER ===

// === FRAME-ONE ===
.section-frame-one {
    background: url(/img/frame-one/fon.png) no-repeat center center;
    background-color: #E7F1FB;
    
    .section-inner {
        padding-top: $base * 10;
        padding-bottom: $base * 10;

        .section-frame-one__wrapper {
            display: flex;
            justify-content: space-between;

            .social {
                cursor: pointer;
    
                &-menu {
    
                    &_list {
                        display: flex;
                        flex-direction: column;
    
                        &-link {
                            margin-top: $base * 7;
                            margin-bottom: $base * 8;
                        }
                    }
                }
            }

            &-left {
                margin-left: -100px;
                margin-top: 10px;

                h2 {
                    text-indent: $base * 3;
                    font-size: $fs-s;
                    font-weight: 400;
                    margin-bottom: $base * 3;
                }
    
                .text-big {
                    width: 524px;
                    font-size: $fs-xxs;
                    margin-bottom: $base * 10;
                }
    
                .text-littele {
                    width: 521px;
                    margin-bottom: $base * 9;
                    font-size: $fs-m;
                    color: $color-bl-blue;
                    line-height: 2;
                }

                .btn-group {
                    a {
                        margin-right: $base * 6;
                    }
                }
            }

            &-right {
                margin-right: 100px;
            }
        }
    }
}
// === / FRAME-ONE ===